using System.Collections.Generic;

namespace Configs
{
    public class {{.Name}} {{csharpInherit .ParentClass}}
    {
        {{- with .OwnTemplate -}}
        {{- range .Fields}}
        public {{GetCSharpTypeName .LongType}} {{.Name}} { get; set; }
        {{- end}}
        {{- end}}
    }
{{"}" -}}