package exports

// {{.Name}} exported from {{.FileName}}.xlsx
type {{.Name}} struct {
    {{golangInherit .ParentClass}}
    {{- with .OwnTemplate -}}
    {{- range .Fields}}
	{{.Name}} {{GetGolangTypeName .LongType}} `json:"{{.Name}}"`
    {{- end}}
    {{- end}}
{{"}" -}}
