{{- "local"}} {{.Name}} = {
    {{- range .Data}}
    [{{.ID}}] = { 
        {{- range .Fields -}}
        {{- if eq .Type "dict"}}
            {{- template "DictDictTmpl" .}}
        {{- else if eq .Type "list"}}
            {{- template "DictListTmpl" .}}
        {{- else if eq .Type "string"}}
            {{- template "DictStringTmpl" .}}
        {{- else}} 
            {{- template "DictNumberTmpl" .}} 
        {{- end -}}
        {{- end}}
    },
    {{- end}}
}

return {{.Name -}}

{{- define "DictDictTmpl"}} 
{{indent .Level .Name}} = { 
    {{- range .Fields -}} 
    {{- if eq .Type "dict"}} 
        {{- template "DictDictTmpl" .}} 
    {{- else if eq .Type "list"}} 
        {{- template "DictListTmpl" .}} 
    {{- else if eq .Type "string"}} 
        {{- template "DictStringTmpl" .}} 
    {{- else}} 
        {{- template "DictNumberTmpl" .}} 
    {{- end -}} 
    {{- end}} 
{{indent .Level "},"}}
{{- end}}

{{- define "ListDictTmpl"}} 
{{indent .Level "["}}{{.Name}}] = { 
    {{- range .Fields -}} 
    {{- if eq .Type "dict"}} 
        {{- template "DictDictTmpl" .}}
    {{- else if eq .Type "list"}} 
        {{- template "DictListTmpl" .}} 
    {{- else if eq .Type "string"}} 
        {{- template "DictStringTmpl" .}} 
    {{- else -}} 
        {{- template "DictNumberTmpl" .}} 
    {{- end -}} 
    {{- end}} 
{{indent .Level "},"}}
{{- end}}

{{- define "DictListTmpl"}}
{{indent .Level .Name}} = { 
    {{- range .Fields -}}
    {{- if eq .Type "dict"}}
        {{- template "ListDictTmpl" .}} 
    {{- else if eq .Type "list"}}
        {{- template "ListListTmpl" .}} 
    {{- else if eq .Type "string"}}
        {{- template "ListStringTmpl" .}} 
    {{- else -}}
        {{- template "ListNumberTmpl" .}} 
    {{- end -}} 
    {{- end}}
{{indent .Level "},"}}
{{- end}}

{{- define "ListListTmpl"}}
{{indent .Level "["}}{{.Name}}] = { 
    {{- range .Fields -}}
    {{- if eq .Type "dict"}}
        {{- template "ListDictTmpl" .}} 
    {{- else if eq .Type "list"}}
        {{- template "ListListTmpl" .}} 
    {{- else if eq .Type "string"}}
        {{- template "ListStringTmpl" .}}
    {{- else -}}
        {{- template "ListNumberTmpl" .}} 
    {{- end -}} 
    {{- end}}
{{indent .Level "},"}}
{{- end}}

{{- define "ListStringTmpl"}}
{{indent .Level "["}}{{.Name}}] = "{{.Data}}",
{{- end}}

{{- define "ListNumberTmpl"}}
{{indent .Level "["}}{{- .Name}}] = {{.Data}},
{{- end}}

{{- define "DictStringTmpl"}}
{{indent .Level .Name}} = "{{.Data}}",
{{- end}}

{{- define "DictNumberTmpl"}}
{{indent .Level .Name}} = {{.Data}},
{{- end}}